@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono-full {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}

.roboto-mono-tag {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: x-small;
  text-transform: lowercase;
}

.cover-center {
  background-size: auto 235%;
}

.bg-sand {
  background-color: #613d16;
}